.OrderSummaryBox {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
   padding: 10px 0px;
}

.OrderSummaryBox img {
    width: 65px;
    height: 85px;
}

.OrderSummarytextbox {
    width: 60%;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

#OrderSummaryBookname,#OrderSummaryAuthorName {
    display: flex;
    justify-content: flex-start;
    align-items:center;
    font-size: 14px;
    width: 170px;
}

#OrderSummaryAuthorName { 
    font-size: 10px;
    color: #9d9d9d;
}

.OrderSummaryPriceBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 6px;
}

#OrderSummarydiscountbox {
    font-size: 15px;
}

#OrderSummaryactualprice {
    font-size: 9px;
    color: #9d9d9d;
    text-decoration: line-through;
    width: 100%;
    position: relative;
    left: 8px;
}