


.bxx2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
   
}

.gridbox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-items: flex-start;
    width: 72%; 
    margin-top: 30px; 
}
.DashHeader,.Dashboard_Footer{
    width: 100%;
}

.pagination{
    margin-top:30px;
    color:"primary";
}




